<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title >MEGAMAN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="cristhian"/>
  <meta name="keyword" content="zero,x,harpuia,fenrir"/>
  <link rel="stylesheet" href="{{url_for('static',filename='hola.css')}}">
  
</head>
<body>
 <div class="grupo">
  <header>MEGAMANBLOG</header>
  <nav class="navegador">
    <ul>
        <li>
          <a href="/">X</a>
        </li>
        <li>
          <a href="/zero">ZERO</a>
        </li>
        <li>
          <a href="/harpuia">HARPUIA</a>
        </li>
    </ul>
  </nav>
  <section>
    <article>
      <hgroup>
        <h1>ROCKMANX</h1>
      </hgroup>
      <P>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, iste. Placeat ex totam eos ipsum voluptatu
        m exercitationem repellat temporibus quos omnis quasi consequuntur, labore distinctio et neque animi facere perferendis. Eveniet adi
        pisci sunt sed voluptas voluptate maiores maxime molestias vel, exercitationem blanditiis magnam eos nihil vitae reiciendis nisi dolore
        mque ratione sapiente quo quos non natus, aliquam dolor voluptatem corrupti? Error alias, a eos pariatur, exercitationem cupiditate in e
        aque vero laudantium eius nulla distinctio, quisquam deserunt neque animi eveniet reprehenderit aut aperiam. Laborum quisquam beatae nih
        il neque culpa error dolore soluta! Iure odio itaque quas? Et accusamus, odit beatae impedit commodi autem sint dolorem aliquid. Asperi
        ores cumque praesentium, amet repellendus voluptatum vel. Laudantium vitae quos debitis commodi doloremque? Sunt doloremque pariatur, p
        erferendis assumenda quo ipsum nulla, eaque at ducimus excepturi facilis, quia molestias. Perferendis accusamus modi, possimus veritati
        s earum atque, deleniti voluptatem nam alias sequi nihil! Mollitia officia error quisquam minima vero tempore excepturi, nihil, volupta
        tum quidem placeat explicabo commodi facere magni beatae. Ut repudiandae nulla pariatur fugiat? Soluta et consectetur ex eius. Quidem n
        isi similique non reiciendis cupiditate, tempora facere illo perferendis, quod minima earum iste sapiente quisquam odio laborum, quasi 
        consequatur. Nulla odio explicabo porro iure obcaecati vero incidunt, sed nobis a facere quo eaque, reprehenderit quisquam cumque sint, a
        t reiciendis impedit ab consequuntur aliquam delectus adipisci provident! Totam fugit minus excepturi in odio harum officia laboriosam do
        lore, quaerat molestias aperiam nostrum culpa nulla omnis non error ullam aspernatur incidunt eum veniam pariatur blanditiis dolor atque. Q
        uas aperiam odit magni suscipit inventore repellendus totam nemo excepturi quo, quidem tempora explicabo eum rerum iusto eius rem eos tenet
        ur quam aliquam esse voluptatum. Voluptatibus illum distinctio vero laboriosam, excepturi cumque, obcaecati totam est nih
        il sequi ut similique, nostrum culpa sed sint soluta! Deleniti vel assumenda vitae incidunt voluptatum fugiat tempora pariatur!
      </P>
    </article>
    
  </section>
  <aside>
    <img class="imagen" src="{{url_for('static',filename='x.jpg')}}" width="300" height="200">
    <audio controls>
      <source src="{{url_for('static', filename='Megaman X5 - Intro Stage (X).mp3')}}" type="audio/mpeg">
    </audio>

    <!--<img src="{{url_for('static', filename='Hermes.png')}}" -->
  </aside>
  <footer>
    <hgroup>
      Visite la pagina oficial 
    </hgroup>
    <address>
      <a href="http://megaman.capcom.com/">CAPCOM</a>
    </address>
  </footer>
 </div> 
  
    

</body>
</html>
